[submodule "src"]
	path = src
	url = http://ehdtjs2651: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@github.com/greenrain78/container-engine.git
[submodule "Model"]
	path = Model
	url = http://ehdtjs2651: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@github.com/greenrain78/OpenADR-model.git
[submodule "Manager"]
	path = Manager
	url = http://ehdtjs2651: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@github.com/greenrain78/container-manager.git
